
  <% if @book.errors.any? %>
    <%= @book.errors.count %>errors
    <% @book.errors.full_messages.each do |message| %>
      <%= message %>
      <% end %>
      <% end %>
<%= form_with model: book, local:true do |f| %>
<div class="title">
  <p>Title</p>
  <%= f.text_field :title %>
</div>
<div class="body">
  <p>Opinion</p>
  <%= f.text_area :body %>
</div>
<div class="enter">
  <%= f.submit 'Create Book', class: "btn btn-secondary"  %>
</div>
  <% end %>