<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
     <h4>Editing Book</h4>
      <% if @book.errors.any? %>
         <%= @book.errors.count %>error
         <% @book.errors.full_messages.each do |message| %>
          <%= message %>
          <% end %>
        <% end %>
      <%= form_with model:@book, url:book_path, local:true do |f| %>
       <h4>Title</h4>
       <%= f.text_field :title %>
       <h4>Opinion</h4>
       <%= f.text_area :body %>
       <%= f.submit 'Update Book', class:"btn btn-success" %>
     <% end %>

     <div class="edit-nav">
     <%= link_to 'Show', book_path %>
     <%= link_to 'Back', books_path %>
     </div>
    </div>
   </div>
</div>