<% if @book.errors.any? %>
 <%= @book.errors.count %>error
 <% @book.errors.full_messages.each do |message| %>
  <%= message %>
  <% end %>
<% end %>

   <div class="container">
     <div class="row">
        <div class="col-lg-4">
       <%= render 'books/info', books: @books %>
       <%= render 'books/new', book: @book %>
       </div>

        <div class="col-lg-8">
       <h4>Book detail</h4>
       <table class="table table-striped">
        <tr>
       <th><p><%= link_to attachment_image_tag(@book.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40'), user_path(@book.user.id) %></p>
       <p><%= link_to @book.user.name, user_path(@book.user) %></p></th>
       <th><%= link_to @book.title, user_path(@book.user) %></th>
       <th><%= @book.body %></th>
       <th><%= link_to 'Edit',edit_book_path(@book.user) %></th>
       <th><%= link_to 'Derete',book_path(@book), method: :delete %></th>
        </tr>
       </table>
       </div>
      </div>
  </div>
